@page
@model CRM.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Pages/Shared/sidebar_head_full.cshtml"; // Path to your custom layout

}

        <div class="container">
            <!-- Latest Messages -->
            <div class="card_1">
                <div class="card_1-header">
                    <h2>Latest Messages</h2>
                    <i class="fas fa-times icon" onclick="removeCard(this)"></i>
                </div>
                <div class="message-list">
                    <div class="message-item">
                        <div class="message-avatar" style="background-color: #48bb78;">JS</div>
                        <div class="message-content">
                            <p class="font-bold">James Smith <span class="time">32 Min ago</span></p>
                            <p class="text">
                                A successful marketing plan
                                relies heavily on the pulling-power of
                                advertising.
                            </p>
                        </div>
                    </div>
                    <div class="message-item">
                        <div class="message-avatar" style="background-color: #9f7aea;">FM</div>
                        <div class="message-content">
                            <p class="font-bold">Faddy Math <span class="time">23 Min ago</span></p>
                            <p class="text">
                                A successful marketing plan
                                relies heavily on the pulling-power of
                                advertising.
                            </p>
                        </div>
                    </div>
                    <div class="message-item">
                        <div class="message-avatar" style="background-color: #ed64a6;">CM</div>
                        <div class="message-content">
                            <p class="font-bold">Carline Merin <span class="time">18 Min ago</span></p>
                            <p class="text">
                                A successful marketing plan
                                relies heavily on the pulling-power of
                                advertising.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="inbox.html">Go to Inbox</a>
                </div>
            </div>
            <!-- My Accounts -->
            <div class="card_2">
                <div class="card_2-header">
                    <h2>My Accounts</h2>
                    <div>
                        <i class="fas fa-times icon" onclick="removeCard(this)"></i>
                    </div>
                </div>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name <i class="fas fa-sort"></i></th>
                                <th>Type <i class="fas fa-sort"></i></th>
                                <th>Website <i class="fas fa-sort"></i></th>
                                <th>Phone <i class="fas fa-sort"></i></th>
                                <th>Billing Country <i class="fas fa-sort"></i></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Kings Royalty Trust</td>
                                <td>Analyst</td>
                                <td><a href="http://www.sectionhr.cn">www.sectionhr.cn</a></td>
                                <td>(656) 879-3945</td>
                                <td>USA</td>
                                <td class="text-center"><i class="fas fa-eye"></i></td>
                            </tr>
                            <tr>
                                <td>Sandeon Consolidation Corp</td>
                                <td>Customer</td>
                                <td><a href="http://www.kidkid.co.uk">www.kidkid.co.uk</a></td>
                                <td>(853) 450-6795</td>
                                <td>USA</td>
                                <td class="text-center"><i class="fas fa-eye"></i></td>
                            </tr>
                            <tr>
                                <td>A.G. Parr PLC</td>
                                <td>Prospect</td>
                                <td><a href="http://www.kidphone.biz">www.kidphone.biz</a></td>
                                <td>(619) 007-2658</td>
                                <td>USA</td>
                                <td class="text-center"><i class="fas fa-eye"></i></td>
                            </tr>
                            <tr>
                                <td>Sunnyvale Reporting Ltd</td>
                                <td>Other</td>
                                <td><a href="http://www.qasection.it">www.qasection.it</a></td>
                                <td>(471) 469-6569</td>
                                <td>USA</td>
                                <td class="text-center"><i class="fas fa-eye"></i></td>
                            </tr>
                            <tr>
                                <td>Green Tractor Group Limited</td>
                                <td>Analyst</td>
                                <td><a href="http://www.phonebeans.org">www.phonebeans.org</a></td>
                                <td>(652) 771-2299</td>
                                <td>USA</td>
                                <td class="text-center"><i class="fas fa-eye"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <div>
                            <button><i class="fas fa-angle-double-left"></i></button>
                            <button><i class="fas fa-angle-left"></i></button>
                        </div>
                        <span>1-5 of 7</span>
                        <div>
                            <button><i class="fas fa-angle-right"></i></button>
                            <button><i class="fas fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- My Leads -->
            <div class="card_3">
                <div class="card_3-header">
                    <h2>My Leads</h2>
                    <div>
                        <i class="fas fa-times icon" onclick="removeCard(this)"></i>
                    </div>
                </div>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Job Title</th>
                                <th>Office Phone</th>
                                <th>Email Address</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-red-600">
                                    Maritza
                                    Malpass
                                </td>
                                <td>Director Operations</td>
                                <td class="text-red-600">(254) 879-0299</td>
                                <td class="text-red-600">vegan60@example.tw</td>
                                <td class="text-center">
                                    <i class="fas fa-pen icon"></i>
                                </td>
                                <td class="text-center">
                                    <i class="fas fa-eye"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-red-600">Monica Tartt</td>
                                <td>Senior Product Manager</td>
                                <td class="text-red-600">(643) 563-8488</td>
                                <td class="text-red-600">section77@example.info</td>
                                <td class="flex items-center">
                                    <i class="fas fa-pen icon"></i>
                                </td>
                                <td class="text-center"><i class="fas fa-eye"></i></td>
                            </tr>
                            <tr>
                                <td class="text-red-600">Rolando Bosque</td>
                                <td>Director Operations</td>
                                <td class="text-red-600">(656) 879-3945</td>
                                <td class="text-red-600">sugar91@example.com</td>
                                <td class="flex items-center">
                                    <i class="fas fa-pen icon"></i>
                                </td>
                                <td class="text-center"><i class="fas fa-eye"></i></td>
                            </tr>
                            <tr>
                                <td class="text-red-600">Kim Hakes</td>
                                <td>Senior Product Manager</td>
                                <td class="text-red-600">(662) 424-9183</td>
                                <td class="text-red-600">vegan82@example.name</td>
                                <td class="flex items-center">
                                    <i class="fas fa-pen icon"></i>
                                </td>
                                <td class="text-center"><i class="fas fa-eye"></i></td>
                            </tr>
                            <tr>
                                <td class="text-red-600">Betty Chesser</td>
                                <td>Director Sales</td>
                                <td class="text-red-600">(662) 516-0101</td>
                                <td class="text-red-600">section.dev@example.name</td>
                                <td class="flex items-center">
                                    <i class="fas fa-pen icon"></i>
                                </td>
                                <td class="text-center"><i class="fas fa-eye"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <div>
                        <button><i class="fas fa-angle-double-left"></i></button>
                        <button><i class="fas fa-angle-left"></i></button>
                    </div>
                    <span>(1 - 5 of 33)</span>
                    <div>
                        <button><i class="fas fa-angle-right"></i></button>
                        <button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <!-- Calendar Card -->
            <div class="card_4">
                <div class="card_4-header">
                    <h2>Calendar</h2>
                    <div>
                        <i class="fas fa-times icon" onclick="removeCard(this)"></i>
                    </div>
                </div>
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <div id="calendar-container">
                        <div id="calendar"></div>
                    </div>
                </div>

            </div>
        </div>
    
